
<meta property="og:title" content="Jitsi Meet"/>

<meta property="og:description" content="Join a WebRTC video conference powered by the  Videobridge"/>
<meta description="Join a WebRTC video conference powered by the  Videobridge"/>

<meta itemprop="description" content="Join a WebRTC video conference powered by the  Videobridge"/>

<link rel="icon" type="image/png" href="images/favicon.ico?v=1"/>
